@charset "utf-8";

/** Import a Google Font */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;
$size-6: 0.9rem;

/** Import only what you need from Bulma */
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/pagination.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/section.sass";

h3 {
  font-size: $size-5;
}

dt {
  font-weight: bold;
}

.navbar {
  background-color: #333;
  font-size: $size-6;

  .navbar-brand {
    text-indent: 40px;
    font-weight: bold;
  }

  a {
    color: #fff;
  }
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.meta {
  font-size: $size-6;

  .is-2 {
    text-align: right;
  }
}

.logs {
  background-color: $pre-background;
  padding: 20px;
  overflow: auto;

  pre {
    padding: 0;
    overflow: visible;
  }
}

.subtitle {
  font-size: $size-6;
}

.timeline {
  margin-bottom: 60px;
}

.timeline-content {
  width: 100%;
}
