version: "3.7"
services:
  base:
    build:
      context: .
      dockerfile: docker/base/Dockerfile
    image: base
    env_file: .env
    volumes:
      - .:/app:cached
  rails:
    build:
      context: .
      dockerfile: docker/rails/Dockerfile
    env_file: .env
    volumes:
      - .:/app:cached
      - /app/tmp/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ${GITHUB_PEM}:/root/.ssh/id_rsa:ro
      - node_modules:/app/frontend/node_modules:ro
      - assets:/app/public/assets:ro
    ports:
      - 3000:3000
    depends_on:
      - mongo
      - redis
    restart: ${DOCKER_RESTART}
  slack:
    build:
      context: .
      dockerfile: docker/slack/Dockerfile
    env_file: .env
    volumes:
      - .:/app:cached
      - /app/tmp/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ${GITHUB_PEM}:/root/.ssh/id_rsa:ro
    depends_on:
      - mongo
      - redis
    restart: on-failure
  sidekiq:
    build:
      context: .
      dockerfile: docker/sidekiq/Dockerfile
    env_file: .env
    volumes:
      - .:/app:cached
      - /app/tmp/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ${GITHUB_PEM}:/root/.ssh/id_rsa:ro
    depends_on:
      - mongo
      - redis
    restart: ${DOCKER_RESTART}
  cron:
    build:
      context: .
      dockerfile: docker/cron/Dockerfile
    env_file: .env
    volumes:
      - .:/app:cached
      - /app/tmp/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ${GITHUB_PEM}:/root/.ssh/id_rsa:ro
    restart: ${DOCKER_RESTART}
  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/frontend/node_modules:delegated
      - assets:/app/public/assets:delegated
  mongo:
    image: mongo:3.4
    restart: ${DOCKER_RESTART}
  redis:
    image: redis:5-alpine
    restart: ${DOCKER_RESTART}

volumes:
  node_modules:
  assets:
