version: "2"
services:
  cron:
    container_name: genova-cron
    build: .
    env_file: .env
    command: /usr/local/bin/docker-cron-entrypoint.sh
    volumes:
      - .:/data/rails
      - /var/run/docker.sock:/var/run/docker.sock
  rails:
    container_name: genova-rails
    extends:
      service: cron
    command: /usr/local/bin/docker-rails-entrypoint.sh
    ports:
      - 3000:3000
    depends_on:
      - mongo
      - redis
  sidekiq:
    container_name: genova-sidekiq
    extends:
      service: cron
    command: /usr/local/bin/docker-sidekiq-entrypoint.sh
    depends_on:
      - mongo
      - redis
  mongo:
    container_name: genova-mongo
    image: mongo:3.4.9
    ports:
      - 27017:27017
  redis:
    container_name: genova-redis
    image: redis:3.2
    ports:
      - 6379:6379
  # slack:
  #   container_name: genova-slack
  #   build: etc/docker/slack
  #   env_file: .env
  #   ports:
  #     - 9292:9292
  #   depends_on:
  #     - mongo
