/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */

body {
  font-size: 0.9em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

table {
  min-width: 100%;
  border: solid 1px #ddd;
}

pre {
  overflow: visible;
}

.column, .columns {
  min-height: 1px;
}

.content {
  margin: 2% 4% 2% 4%;
}

.title-bar {
  background-color: #2c3840;
}

.top-bar, .top-bar a {
  color: #fff;
}

.parameters {
  line-height: 2rem;
}

.parameter-id {
  font-weight: bold;
  text-align: right;
}

.pagination li {
  display: inline-block;
}

.pagination a:hover {
  background-color: #ddd;
}
