// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logs {
  padding: 1rem;
  color: #fff;
  background-color: #333;
  overflow: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
